.ColorBg {
  background: rgba(255, 255, 255, 0.3);
  width: 150px;
  text-align: center;
  margin:0px auto;
  border-radius: 5%;
}

.form-group {
  margin-top: 3px;
  margin-bottom: 1.5rem;
}

body {
  background-color: #000000;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0px 0px;
}

label {
  width: 60px;
  border-radius: 10%;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width:18px;
  height:18px;
  background:gray;
  border-radius:50%;
}

